extends ../shared/template

block content
  h1= title

  #user= user.email

  div
    button#add Add Row
  #orderAmount
    h1 Total: $
      span#orderTotal
    h1 Calories:
      span#calories
  form#order(action='/orders', method='post')
    .menu-item
      input(type='number', name='qty')
      select.menu
        option Select a Menu
          each menu in menus
            option= menu

      select.dish(name='dishId')
        option Select a Dish
      input.calories(type='hidden', name='calories')
      input.cost(type='hidden', name='cost')
      button#delete X
    button Order Food


block scripts
  script(src='/js/es6/compiled/orders.js')
